__pycache__/translation_worker.cpython-312.pyc
__pycache__/translate_backend.cpython-312.pyc
__pycache__/ocr_backend.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/luna_worker.cpython-312.pyc
__pycache__/font_test.cpython-312.pyc
__pycache__/capture.cpython-312.pyc
.vscode/settings.json
